{% extends 'base.html' %}

{% load static %}

{% block title %}Внесение/Снятие{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/operat.css' %}">
    
    <div class="info">
        <!-- Динамическое отображение номера заявки и даты -->
        <p class="req">Заявка №{{ operat.id }}</p>
        <p class="dat">{{ operat.date_created}}</p>
        <p class="address">{{ operat.address }}</p>
        <p class="operation">Снятие наличных</p>
    </div>
    
    <div class="cart-container">
        {% if cart %}
            <ul>
                {% for item in cart %}
                    {% include 'operat_el.html' with bill=item %}  <!-- Вставляем товар из корзины -->
                {% endfor %}
            </ul>

            <!-- Форма с кнопкой для удаления всех купюр из корзины -->
            <form action="{% url 'clear_cart' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="clear-cart-btn">Удалить все купюры</button>
            </form>
        {% else %}
            <p>Ваша корзина пуста.</p>
        {% endif %}
    </div>

    <!-- Если есть сообщение об удалении заявки -->
    {% if message %}
        <p class="alert">{{ message }}</p>
    {% endif %}
{% endblock %}
